* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.header {
  /* background-color: brown; */
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}
.dayList {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  list-style: none;
}
.dayList li {
  /* background-color: aqua; */
  padding: 1em;
}
.dayList button {
  padding: 0.5em;
  background-color: lightgreen;
  border-radius: 0.5em;
  border: 0.1em solid;
}
.wordList {
  /* background-color: lightcoral; */
  border: 1px solid black;
  border-collapse: collapse;
  /* padding: 1em; */
}
.wordList > thead {
  font-weight: bolder;
}
td {
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
}

.off td {
  /* pointer-events: none; */
  background-color: lightgray;
}

/* .successResult {
  visibility: hidden;
} */

.failResult {
  visibility: hidden;
}
